<div class="base">
  <div
    class="create-room-container"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <mat-form-field appearance="outline">
      <input
        type="number"
        matInput
        placeholder="Room ID"
        [formControl]="roomId"
      />
      <mat-hint>Enter a four digit number</mat-hint>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <button class="button" (click)="createGame()" [disabled]="roomId.invalid">
        Create Game
      </button>
      <button class="button" (click)="joinGame()" [disabled]="roomId.invalid">
        Join Game
      </button>
    </div>
  </div>
</div>
