.base {
  width: 100vw;
  height: 100vh;
  padding: 24px 16px;
  background: radial-gradient(
    circle,
    darken(dodgerblue, 10%),
    #1f4f96,
    #1b2949,
    #000
  );
  display: grid;
  justify-content: center;
  align-items: center;
  .result {
    color: white;
    font-size: 72px;
    text-align: center;
  }
}
